* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #e9e9e9;
  min-width: 30rem;
  min-height: 100vh;
}

/* ******************************** Top ************************************* */

header {
  padding: 1rem 0;
  text-align: center;
  line-height: 4rem;
}

h1 {
  font-size: 3rem;
}

.clear-board-button {
  width: 6rem;
  height: 2rem;
  border-width: 1px;
  color: #fff;
  border-color: #0b0e07;
  border-radius: 3px;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(#2dabf9, #0688fa);
}

/* * ******************************* Main *************************************  */

main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1.2px #747474bf;
  min-width: 25rem;
  min-height: 20rem;
  text-align: center;
  padding: 1.5rem;
  width: 25rem;
  margin: 0 auto;
}

.table-container {
  padding: 1rem 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 2px solid #adadad;
  height: 5rem;
  width: 5rem;
}

td:hover {
  cursor: pointer;
}

.table-top td {
  border-top: none;
  border-left: none;
}

.table-top td:last-child,
.table-end td:last-child {
  border-right: none;
}

.table-mid td {
  border-left: none;
}

.table-mid td:last-child {
  border-right: none;
}

.table-end td {
  border-bottom: none;
  border-left: none;
}

/* *********************************** Section ********************************* */

section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1.2px #747474bf;
  min-width: 25rem;
  min-height: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25rem;
  margin: 1rem auto;
}

.player-info-container {
  width: 25rem;
  justify-content: space-between;
  align-items: center;
}

.player-info-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 25px;
  padding: 2px 4px;
}

.name-input:focus {
  outline: 2px solid gray;
}

.game-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reset-score-button {
  width: 6rem;
  height: 2rem;
  border-width: 1px;
  color: #fff;
  border-color: #0b0e07;
  border-radius: 3px;
  box-shadow: inset 0px -3px 7px 0px #f5a623;
  background: linear-gradient(#f5a623, #f5a623);
}

/* ************************************ Modal ********************************** */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-box {
  border-radius: 5px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header h2,
.modal-body {
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(#2dabf9, #0688fa);
}

/* ************************************ Footer ********************************* */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1f1e1e;
  /* bottom: 0; */
  height: 5.5rem;
  width: 60%;
  min-width: 20rem;
  margin: 0 auto;
  position: sticky;
  top: 100%;
}

.personal-links-container {
  display: flex;
  gap: 1rem;
}

.fa-brands {
  color: #6d6d6d;
  font-size: 24px;
}

.fa-github:hover {
  color: #161b22;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

/* ************************************ Game Data ********************************* */

/* Hover Event */
.aliceBlue {
  background-color: #f0f8ff;
}

.apricot {
  background-color: #fff6ec;
}

/* Click Event */
.mainBlue {
  background-color: #99c8f2;
}

.mainOrange {
  background-color: #f8c28e;
}
